/*
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Alegreya', serif;*/
@import url('https://fonts.googleapis.com/css?family=Alegreya|Raleway|Ubuntu');
body {
  background-color: rgba(217, 217, 217, 1)
}
h1, h2 {
  font-family: 'Raleyway', sans-serif;
}
.highlight {
  font-family: 'Raleway', sans-serif;
}

.data {
  font-family: 'Ubuntu', sans-serif;
}

.text {
  font-family: 'Alegreya', sans-serif;
}

p.one {
  background-color: rgba(53, 53, 53, 1);
  width: 100px;
  height: 50px;
  border: 30px solid rgba(53, 53, 53, 1);
}

p.two {
  background-color: rgba(60, 110, 113, 1);
  width: 100px;
  height: 50px;
  border: 30px solid rgba(60, 110, 113, 1);
}

p.three {
  background-color: rgba(60, 110, 113, 1);
  width: 100px;
  height: 50px;
  border: 30px solid rgba(60, 110, 113, 1);
}

p.four {
  background-color: rgba(217, 217, 217, 1);
  width: 100px;
  padding: 28px;
  border: 2px solid;
}

p.five {
  background-color: rgba(40, 75, 99, 1);
  width: 100px;
  height: 50px;
  border: 30px solid rgba(40, 75, 99, 1);
}
